.stratpage-container {
    width: 100%;
    color: white;
    min-height: 100vh;
    top: 40%;
    position: absolute;
}

.conatiner-1 {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 0px 30px 0 30px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main-heading-startpage {
    transform: rotateY(-50%);
    width: 100%;
    color: #ddd;
    letter-spacing: 0.1em;

}

.main-heading-startpage span {
    display: inline-block;
    opacity: 1;
    text-shadow: 3px 2px 1px white;
    animation: animate 10s linear infinite;
    background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);

    }
}

.startpage-heading h1 {
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub-start-conatiner {
    display: flex;
    padding-top: 70px;
}

.container-2 {
    width: 50%;
    margin: auto;
    font-size: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: space-between;

}

.navigation-btn {
    text-decoration: none;
    color: rgb(23, 58, 85);
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 30px;
    background-color: rgb(245, 241, 241);
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid black;
    transition: all 0.3s;
}

.navigation-btn:hover {
    background-color: rgb(6, 34, 104);
    border: 1px solid white;
    color: white;
}

.typeHello {
    animation: typing 5s steps(20) infinite;
    animation-delay: 2s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
}

.typeHello-media {
    display: none;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 32%;
    }
}


@media screen and (max-width: 1020px) {
    .stratpage-container {
        top: 5%;
    }

    .sub-start-conatiner {
        flex-direction: column;
        gap: 1.5em;
    }

    .conatiner-1 {
        width: 90%;
        margin: auto;
    }

    .container-2 {
        width: 90%;
        padding: 10px;
        gap: 2em;
        margin: auto;
    }

    .navigation-btn {
        font-size: 16px;
        padding: 10px 10px;
        margin: auto;
    }

    .startpage-heading h1 {
        font-size: 40px;
    }

    .typeHello-media {
        display: block;
        animation: typing 5s steps(20) infinite;
        animation-delay: 2s;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid black;
    }

    .typeHello {
        display: none;
    }

    .navigation {
        padding-bottom: 30%;
    }
}